{#
/**
 * @file
 * Default theme implementation to list order types available for creating a
 * recurring.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_commerce_recurring_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
    <dl class="recurring-type-list">
        {% for type in types %}
            <dt>{{ type.add_link }}</dt>
            <dd>{{ type.description }}</dd>
        {% endfor %}
    </dl>
{% else %}
    <p>
        {% set create_recurring_type = path('entity.commerce_recurring_type.add_form') %}
        {% trans %}
        You have not created any recurring recurring types yet. Go to the <a href="{{ create_recurring_type }}">recurring type creation page</a> to add a new recurring type.
        {% endtrans %}
    </p>
{% endif %}
